@import "../../../../../styles/base/variables";

.form__input {
	padding: 1.3rem;
	border-radius: $border-radius-md;
	box-shadow: $shadow;
	border: 2px solid rgba($brand-primary, 0.15);
	transition: all 0.3s;
	&::placeholder {
		color: $text-tertiary;
		font-weight: 300;
		font-size: 1.7rem;
	}
	&:focus {
		outline: none;
		border: 2px solid rgba($brand-primary, 0.35);
	}
}
