// Container
.container {
	width: 90%;
	margin: 0 auto;

	&--sm {
		@extend .container;
		max-width: 70rem;
	}
	&--md {
		@extend .container;
		max-width: 90rem;
	}
	&--lg {
		@extend .container;
		max-width: 120rem;
	}
}
